In [1]:
import pandas as pd
import numpy as np

# Q1 Pandas version

In [2]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

# Q2 Record Count

In [4]:
df.shape

(9704, 11)

# Q3 Fuel Types

In [25]:
df.fuel_type.value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [5]:
df.fuel_type.nunique()

2

# Q4 Missing Values

In [26]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [6]:
df.isnull().any().sum()

np.int64(4)

# Q5 Max Fuel Efficiency

In [28]:
df.head(1)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729

In [7]:
df_Asia = df[df.origin == 'Asia']
df_Asia.fuel_efficiency_mpg.max()

23.759122836520497

# Q6 Median value of horsepower

In [8]:
df.horsepower.median()

149.0

In [9]:
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [10]:
df.horsepower.fillna(df.horsepower.mode(), inplace=True)

/tmp/ipykernel_2501/3736879250.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.horsepower.fillna(df.horsepower.mode(), inplace=True)

In [11]:
df.horsepower.median()

149.0

No change

# Q7 Sum of weights

In [12]:
df_Asia = df[df.origin == 'Asia']

In [13]:
asia_subset = df_Asia.loc[:, ['vehicle_weight', 'model_year']]

In [14]:
asia_subset2 = asia_subset.head(7)

In [15]:
X = np.array(asia_subset2.values)

In [16]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [17]:
print(X.shape)
print(X.T.shape)

(7, 2)
(2, 7)

In [18]:
XTX = np.matmul(X.T, X)

In [19]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [20]:
XTX_inv = np.linalg.inv(XTX)
w = np.dot(np.dot(XTX_inv, X.T), y)

In [21]:
w

array([0.01386421, 0.5049067 ])

In [22]:
w.sum()

np.float64(0.5187709081074007)